## Create and Modify a Database in SQL Lite

In [1]:
import sqlite3
conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS Tracks')
cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')
conn.commit()

In [2]:
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)',
('Thunderstruck', 20))
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)',
('My Way', 15))
conn.commit()
print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
    print(row)

Tracks:
('Thunderstruck', 20)
('My Way', 15)

In [3]:
cur.execute('INSERT INTO Tracks (title, plays) VALUES  (?, ?)',
('Voodoo Child', 16))
conn.commit()
print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
    print(row)

Tracks:
('Thunderstruck', 20)
('My Way', 15)
('Voodoo Child', 16)

In [4]:
cur.execute('UPDATE Tracks SET title = "Zombie" WHERE plays = 15')
conn.commit()

In [5]:
print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
    print(row)

Tracks:
('Thunderstruck', 20)
('Zombie', 15)
('Voodoo Child', 16)

In [6]:
cur.execute('DELETE FROM Tracks WHERE title = "Voodoo Child"')
conn.commit()

In [7]:
print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
    print(row)

Tracks:
('Thunderstruck', 20)
('Zombie', 15)

In [8]:
cur.execute('INSERT INTO Tracks (title, plays) VALUES  (?, ?)',
('Royal Oil', 16))
conn.commit()

In [9]:
print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
    print(row)

Tracks:
('Thunderstruck', 20)
('Zombie', 15)
('Royal Oil', 16)

In [10]:
cur.execute('DELETE FROM Tracks WHERE plays < 100')
cur.close()